<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
    <link rel="stylesheet" href="/static/addmac/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/addmac/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/addmac/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/static/addmac/css/styles.css">
</head>

<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-plus-outline"></i></div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="address" placeholder="MAC Address">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Submit </button>
                <button class="btn btn-secondary btn-block" type="reset">Clear </button>
            </div>
        </form>
    </div>
    <script src="/static/addmac/js/jquery.min.js"></script>
    <script src="/static/addmac/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>