<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/login/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/login/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/static/login/css/styles.css">
</head>

<body>
    <div class="login-clean">
        {% if error %}
        <div id="error" class="error">
            <h3>Error: {{ error }}</h3>
        </div>
        {% endif %}
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="ion-ios-locked-outline"></i></div>
            <div class="form-group"></div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <script src="/static/login/js/jquery.min.js"></script>
    <script src="/static/login/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>